/* general */
h2 {
  font-size: 48px;
  font-weight: bold;
  padding-top: 50px;
}

/* main header */

.main-header .navbar {
  background: #2c3e50;
  border-radius: 0;
  text-transform: uppercase;
  border: 0;
  margin-bottom: 0;
}

.main-header .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  color: white;
}

.main-header .navbar-nav > li > a {
  line-height: 80px;
  padding: 0 15px;
  color: white;
  font-weight: bold;
}

/* jumbotron */

.jumbotron {
  background: #1abc9c;
  color: white;
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron img {
  height: 250px;
}


/* main */

main {
  background: #d2d5e1;
  margin-top: 0;
  padding-bottom: 50px;
}

main .portfolio {
  color: #2c3e50;
  font-size: 24px;
}

main img {
  background: #e8ffc1;
  margin: 20px auto;
  height: 200px;
  width: 300px;
  border-radius: 10px;

}


/* contact */

.contacts {
  background: #a5ecd7;

}

.contacts .container {
  background: #e8ffc1;
  padding-bottom: 80px;

}

.contacts .container .row>div {
  background-color: #a5ecd7;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* about */
.about {
  background: #1abc9c;
  color: white;
  padding-bottom: 50px;
}

/* about-us */

.about-us {
  background: #51adcf;
}

.about-us .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-us .container .row>div {
  background: #e8ffc1;
  border: 1px solid lightcoral;
}


footer {
  background: black;
}

footer .container {
  background: #a5ecd7;
}
